@font-face {
  font-family: "WildYouth-Regular";
  src: url("WildYouth-Regular.otf") format("opentype"); }

.wrapper {
  header {
  height: 300px;
  background-image: url("../Sky.jpeg");
  background-size: cover;
  background-position: bottom;

  nav {
    padding-top: 20px;
    height: 30px;
    width: 100%;
      ul {
        display: flex;
        flex-direction: row;
        width: 100%;
        text-align: center;
        li {
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
        color: black;
        flex-grow: 1;
        padding-left: 50px;
        padding-right: 50px;
        color: white;
        text-shadow: 2px 2px 4px grey;
        }
      }
    }
  }
}


h1 {
  font-family:"WildYouth-Regular";
  font-size: 64px;
  text-align: center;
  padding-top: 85px;
  color: white;
  text-shadow: 2px 2px 4px grey;
}

h2 {
  font-family: "Raleway", sans-serif;
  text-align: center;
  padding-top: 30px;
  letter-spacing: 0.5em;
  text-shadow: 1px 1px 2px grey;
  color: white;
}

h3 {
  font-family: "Raleway", sans-serif;
  padding: 30px;
  text-transform: uppercase;
  margin-left: 5%;
}

h4 {
  font-family: "WildYouth-Regular";
  font-size: 30px;
  padding-top: 10px;
  padding-left: 10px;
}

p {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  padding-top: 10px;
}


.container {
  max-height: 500px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
    img#typing {
    margin-left: 5%;
    margin-right: 5%;
    width: 50%;
    }
    .box-outer {
    position: relative;
    margin: 30px;
    }
    .box {
    width: 320px;
    height: 160px;
    border: 1px solid black;
    background-color: transparent;
    }
    .box-shadow {
    position: absolute;
    top: -10px;
    left: -10px;
    background-color: #e9e9e9;
    width: 320px;
    height: 160px;
    z-index: -1;
    }
  }

.aboutwrapper {
  p{
  margin: 5%;
}
}



#sectionwrapper2 {
width: 100%;
height: 400px;
}
